.wrapper {
  display: flex;
  justify-content: center;
  
}

.imput {
    width: 350px;
}

.content {
    max-width: 400px;
    margin-top: 50px;
  padding: 10px;
  width: 400px;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.notHaveAccount {
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 10px;
  width: 400px;
} */




