.sidebar {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #DBDBDB;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logoTop {
  width: 100px;
  height: 60px;
  margin-bottom: 20px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebarMenuLink,
.sideBarMenuLinkProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebarMenuLink:hover,
.sideBarMenuLinkProfile:hover {
  transform: translateX(10px);
  font-weight: bold;
}

.sidebarMenuLink span,
.sideBarMenuLinkProfile span {
  font-weight: normal;
  transition: font-weight 0.2s;
}

.sidebarMenuLink.active span,
.sideBarMenuLinkProfile.active span {
  font-weight: bold;
}


.icon {
  width: 24px;
  height: 24px;
}


.modalBackground {
  position: fixed;
  top: 0;
  left: 250px;       
  width: calc(100vw - 250px); 
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;       
}


.modalOverlay {
  position: fixed;    
  top: 0;
  left: 250px;        
  width: 300px;       
  height: 100vh;      
  background: white;  
  z-index: 1000;      
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  overflow-y: auto;
  position: relative;
  padding: 0;
  border-radius: 0; 
  box-shadow: none;
}

.modalContent h2 {
  margin: 0;
  padding-bottom: 10px;
}

.clearInput {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.searchInputWrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.inputSearch {
  width: 270px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  outline: none;
  background-color: #EFEFEF;
}

.usersList {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.recent {
  font-weight: bold;
  font-size: 16px;
}

.usersList > img,
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  
}


.usersList > p {
  font-weight: bold;
  font-size: 14px;
}
